
@import "../constants/colors";
@import "../mixins/sprite";

.slick-slider {

  .slick-list {
    width: 100%;
    
    .slideItem {
      background-position-y: 50%; 
      background-size: cover;
      height: 485px;


      .container {
        cursor: pointer;
        padding: 0px 85px;
        cursor: pointer;
      }
    }
  }

  .slick-prev {
    left: 30px;
    height: 45px;
    width: 53px;
    top: 45%;
    @include sprite(0, 107);

    &:hover {
      @include sprite(0, 210);
    }
    // Override
    &:before {
      content: " ";
    }
  }
  .slick-next {
    right: 30px;
    height: 45px;
    width: 53px;
    top: 60%;
    @include sprite(0, 156);

    &:hover {
      @include sprite(0, 260);
    }
    

    // Overrid
    &:before {
      content: "";
    }
  }
}

@media (max-width: 500px) { 
  .slick-slider .slick-list {
    .slideItem {
      max-height: 250px;
      .container {
        padding: 0px 20px;

        .title {
          font-size: 20px;
        }
        .description {
          font-size: 16px;
        }
        .more-container {
          font-size: 16px;
        }
      }
    }
  }
}
