$color-white: #FFF;
$color-black: #000;
$color-primary: #000;
$color-secondary: #53A0FD;
$color-border: #CCC;
$color-background: #EAEAEA;

$color-yellow: #FFC200;
$color-black : #000000;
$color-white: #ffffff;
$color-grey: #BDC3C7;
$color-blue-light: #3498DB;
$color-blue-dark: #2980B9;