@import "../bourbon/bourbon";

$sprite-image: url('/images/sprites.png');

@mixin sprite-image($sprite-image) {
  @include background-image($sprite-image);
  background-repeat: no-repeat;
}

@mixin sprite-pos($x, $y, $grid) {
  background-position-x: -($x*$grid*1px);    
  background-position-y: -($y*$grid*1px);
}

@mixin sprite($x, $y, $image: $sprite-image) {
  @include sprite-image($image);
  @include sprite-pos($x, $y, 1);
}

