
@import "../constants/colors";
@import "../mixins/sprite";
.page.about {
  padding-top: 80px;

  .about-main {
    margin-top: 30px;

    .about-content {
      max-width: 60%;
      line-height: 30px;
    }

    .about-list-row {
      margin: 75px 0px;

      .about-bio {
        padding: 0px 15px;
        display: none;

        &.shown {
          display: block;
        }

        p {
          margin-top: 20px;
        }
      }

      .about-list-item {
        text-align: center;
        padding: 0px;
        width: 100%;

        &.selected {
          .about-arrow {
            display: block;
          }
          .about-name, .about-title {
            color: $color-yellow;
          }
          .about-bio, .about-bio-sm {
            display: block;
          }

          &:after {
            content: " ";
            height: 40px;

          }
        }

        .about-bio-sm {
          overflow: auto;
          padding: 15px 15px;
          text-align: left;
        }

        .about-name {
          margin-top: 5px;
          text-transform: uppercase;
          font-weight: 900;
        }

        .photoCredit {
          font-size: 14px;
          font-style: italic;
        }

        .about-title {
          font-weight: 400;
        }

        .about-image-container {
          margin: 0 auto;
          margin-right: 100px;
          float: left;

          .about-image {
            width: 240px;
            height: 240px;
            margin: 0 auto;
            background-color: $color-yellow;
          }
        }

        .about-arrow {
          display: none;
          width: 45px;
          height: 45px;
          margin: 0 auto;
          @include sprite(0, 723);
        }
      }
    }
  }
}


@media (max-width: 500px) {
  .page.about {
    padding-top: 60px !important;

  }
}

@media (max-width: 768px) {
	/* FIXME: TOO MUCH NESTING */
	.page.about .about-main .about-list-row .about-list-item .about-bio-sm {
		text-align: center;
	}

	/* FIXME: HELP */
	.page.about .about-main .about-list-row .about-list-item .about-image-container {
		margin: 0 auto;
		float: none;
	}
}
