.home {
  padding-top: 80px;
	
  .more-container {
  	color: #ffffff;
  }

  .home-main {
  	border-top: 1px solid #e5e5e5;
  	margin-top: 30px;
  }

  .mc_embed_signup {
    background: #ffffff;
    clear:left;
    font:14px Helvetica,Arial,sans-serif;
    width:300px;
  }

  .mc_input {
    position: absolute;
    left: -5000px;
  }
}

@media (max-width: 500px) { 

	.home {
		padding-top: 60px !important;
	}

}