@import "../constants/colors";


.screen.page {
	.screen-page-main-container {
		padding: 30px 0px;
		
		.screen-page-fullscreen {
			
			.screen-hero-header {
				border-bottom: 15px solid $color-black;
				padding-bottom: 15px;
				font-size: 28px;
			}
		
			.screen-page-hero {
	
				.screen-hero-title {
					text-transform: uppercase;
					font-weight: 600;
					font-size: 18px;
				}


				.screen-hero-footer {
					height: 50px;
				}

				.screen-image {
					width: 100%;
					height: 350px;
					background-size: cover;
					margin: 15px 0px;
				}
			}

		.screen-page-offscreen {
			.screen-offscreen-header {
				padding-top:50px;
				border-bottom: 15px solid $color-black;
				padding-bottom: 15px;
				font-size: 28px;
			}

			.screen-list-item {
				.screen-item-header {

			.screen-image {
				height: 400px;
			}
		}
	}

}