.screenshot.page {
	.screenshot-page-main-container {
		padding: 20px 0px;
		
		.screenshot-page-hero {
			
			.screenshot-hero-title {
				text-transform: uppercase;
				font-weight: 600;
				font-size: 18px;
			}

			.screenshot-image {
				height: 400px;
			}
		}
	}

}